<div
  class="flex flex-col rounded-xl h-full transition-all duration-300 overflow-hidden"
  [ngClass]="{'w-120 border': isOpen(), 'w-0': !isOpen()}"
>
  @if (loading()) {
    <div class="flex justify-center items-center h-full">
      <p-progress-spinner size="small"/>
    </div>
  } @else if (user(); as user) {
    <div class="flex flex-col flex-1 overflow-y-auto min-w-0">
      <div class="sticky top-0 z-10 flex gap-3 items-center border-b p-4 bg-white">
        <p-avatar
          [label]="getInitials(user)"
          shape="circle"
          size="large"
          class="shrink-0"
          [pt]="avatarPT"
        />
        <div class="flex flex-col min-w-0">
          <span class="text-xl truncate">{{ getFullName(user) }}</span>
          <span class="truncate text-gray-500">{{ user.username }}</span>
        </div>
        <p-tag
          [value]="('model.user.enabled.' + user.enabled) | translate"
          [severity]="user.enabled ? 'success' : 'danger'"
          [icon]="user.enabled ? 'pi pi-check' : 'pi pi-times'"
          class="rounded-xl! gap-2!"
        />
      </div>
      <div class="flex flex-col gap-4 p-4 border-b min-w-0">
        <span class="text-sm">
          {{ "modules.user-management.pages.user-detail.personal-info" | translate | uppercase }}
        </span>
        <div class="grid grid-cols-2 gap-x-12 gap-y-4 min-w-0">
          <!-- ROW 1 -->
          <div class="flex flex-col min-w-0">
            <span class="text-sm text-gray-500">
              {{ "model.user.firstname" | translate }}
            </span>
            <span class="wrap-break-word">
              {{ user.firstname }}
            </span>
          </div>
          <div class="flex flex-col min-w-0">
            <span class="text-sm text-gray-500">
              {{ "model.user.lastname" | translate }}
            </span>
            <span class="wrap-break-word">
              {{ user.lastname }}
            </span>
          </div>

          <!-- ROW 2 -->
          <div class="flex flex-col min-w-0">
            <span class="text-sm text-gray-500">
              {{ "model.user.gender" | translate }}
            </span>
            <span>
              {{ ((user.gender == 'M') ? 'model.gender.male' : 'model.gender.female') | translate }}
            </span>
          </div>
          <div class="flex flex-col min-w-0">
            <span class="text-sm text-gray-500">
              {{ "model.user.language" | translate }}
            </span>
            <span>{{ user.language!.label }}</span>
          </div>

          <!-- ROW 3 -->
          <div class="flex flex-col min-w-0">
            <span class="text-sm text-gray-500">
              {{ "model.user.tax-id-number" | translate }}
            </span>
            <span class="wrap-break-word uppercase">
              {{ user.taxIdNumber }}
            </span>
          </div>

          <div class="flex flex-col min-w-0">
            <span class="text-sm text-gray-500">
              {{ "model.user.mobile-number" | translate }}
            </span>
            <span class="wrap-break-word">
              {{ user.mobileNumber }}
            </span>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-4 p-4 border-b">
        <span class="text-sm">{{ "modules.user-management.pages.user-detail.account" | translate | uppercase }}</span>
        <div class="flex gap-12">
          <div class="flex flex-col flex-1 min-w-0">
            <span class="text-sm text-gray-500">{{ "model.user.email" | translate }}</span>
            <span class="break-all">{{ user.email }}</span>
          </div>
          <div class="flex flex-col flex-1 min-w-0">
            <span class="text-sm text-gray-500">{{ "model.user.username" | translate }}</span>
            <span class="break-all">{{ user.username }}</span>
          </div>
        </div>
      </div>
      <div class="flex flex-col p-4 gap-2 border-b">
        <span class="text-sm">{{ "model.user.groups" | translate | uppercase }}</span>
        <div class="flex flex-wrap gap-2">
          @for (group of user.groups; track group.id) {
            <p-tag class="font-normal!" [value]="group.name | titlecase" icon="pi pi-users" severity="secondary"/>
          } @empty {
            <span
              class="text-sm text-color-secondary">{{ "modules.user-management.pages.user-detail.no-groups" | translate }}</span>
          }
        </div>
      </div>
      <div class="flex flex-col p-4 gap-2">
        <span class="text-sm">{{ "modules.user-management.pages.user-detail.audit" | translate | uppercase }}</span>
        <div class="flex flex-col gap-1">
          <div class="flex justify-between">
            <span class="text-sm text-gray-500">{{ "model.audit.created-on" | translate }}</span>
            <span>{{ user.audit!.createdOn | localizedDate: "dd MMMM yyyy, HH:mm" }}</span>
          </div>
          <div class="flex justify-between min-w-0">
            <span class="text-sm text-gray-500 shrink-0">{{ "model.audit.created-by" | translate }}</span>
            <span class="min-w-0 break-all text-right">{{ user.audit!.createdBy ? user.audit!.createdBy : ('model.audit.system' | translate) }}</span>
          </div>
          <div class="flex justify-between">
            <span class="text-sm text-gray-500">{{ "model.audit.updated-on" | translate }}</span>
            <span>{{ user.audit!.updatedOn! | localizedDate: "dd MMMM yyyy, HH:mm"}}</span>
          </div>
          <div class="flex justify-between min-w-0">
            <span class="text-sm text-gray-500 shrink-0">{{ "model.audit.updated-by" | translate }}</span>
            <span class="min-w-0 break-all text-right">{{ user.audit!.updatedBy }}</span>
          </div>
        </div>
      </div>
    </div>
  }

</div>
